.btn{
    background-color: #daa6ee;
    border-radius: 50px;
    border: none;
    color: white;
    padding: 10px 10px;
    box-shadow: 0px 4px 6px rgba(0,0,0,0.1);
    
   
}
.btn:active{
    background-color: grey;
}

.fadeIn{
    animation: fadeIn 1s ease-in-out;
}
.slideIn{
    animation:slideIn 0.5s ease-in-out,fadeIn 1s ease-in-out;
}
@keyframes fadeIn{
    from{
        opacity: 0;
    } to {
        opacity: 1;
    }
}
.move{
    color:transparent;
    background-size:contain;
    background-image: url(/misc/competition/images/physics.jpg);
    background-position:top;
    background-clip:text;
    animation: moveBg 10s infinite;

}
@keyframes moveBg{
    100%{
        background-position: 100% 0;
    }
}
.loaderStyles{
    animation: rotate 1s infinite;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    border-top: 5px solid black;
    position: absolute;
    top: 50%;
    left:50%;
    transform:translate(-50%, -50%);  
}
@keyframes rotate{
    from{
    transform: rotate(0deg);
    } to {
    transform: rotate(360deg);
    }
}
@keyframes slideIn{
    from{
        transform: translateY(-400px);
    } to {
        transform: translateY(0px);
    }
}
.list{
    @apply cursor-pointer hover:text-black transition-transform text-white
}
.side-in-x{
    animation: slide-x 0.3s ease-in-out;
}
@keyframes slide-x{
    from {
        transform: translateX(400px);
    } to {
        transform: translateX(0px);
    }
}