@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-box: 0 0.15rem 1.75rem 0 rgba(33 40 50 / 15%);
}
@layer utilities {
  .font-juniper {
    font-family: 'Juniper', sans-serif; /* Replace with your actual font stack */
  }
}

@layer base{
  @font-face{
    font-family: 'Juniper';
    src:url('/Fonts/Juniper.otf') 
    format('opentype');
    font-weight: normal;
    font-style: normal;
  }
}



