@tailwind base;
@tailwind components;
@tailwind utilities;


:root {
  --background: #ffffff;
  --foreground: #171717;
  --shadow-box: 0 0.15rem 1.75rem 0 rgba(33 40 50 / 15%);
}
@layer utilities {
  .font-juniper {
    font-family: 'Juniper', sans-serif; /* Replace with your actual font stack */
  }
}

@layer base{
  @font-face{
    font-family: 'Juniper';
    src:url('/Fonts/Juniper.otf') 
    format('opentype');
    font-weight: normal;
    font-style: normal;
  }
}

::-webkit-scrollbar{
  width:12px;
}
::-webkit-scrollbar-track{
  background: linear-gradient(45deg,#1e1e2f,#3a3a5f);
  border-radius: 6px;
}
::-webkit-scrollbar-thumb{
  background: linear-gradient(45deg,lightblue,darkred,rgba(0,0,0,0.1));
  border-radius: 6px;
}
::-webkit-scrollbar-thumb:hover{
  background: linear-gradient(45deg,#ff4500,rgba(0,0,0,0.1));
  
}


.tippy-content li{
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
.tippy-content li:hover{
  background: linear-gradient(to right,rgba(0,0,0,0.1), blueviolet);
  padding: 5px;
}
.centered{
  position: absolute;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
}
.right-98{
  right:25.5rem
}
.bottom-68{
  bottom: 17rem ;
}
.r-b-g{
  border-right: 3px solid green;
}
.r-b-r{
  border-right: 3px solid red;
}
.r-b-b{
  border-right: 3px solid black;
}
.l-b-g{
  border-left: 3px solid green;
}
.l-b-r{
  border-left: 3px solid red;
}
.l-b-b{
  border-left: 3px solid black;
}
.half-vh{
  height:50vh;
}

